h2{
    text-decoration: none;
}

img{
    width: 369px;
    height: 245.844px;
    float: left;
    margin-left: 5%;
    margin-right: 15px;
}

a h1{
    color: black;
    text-decoration: none;
}
